@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

The Json Web Token Authentication and Authorization I used for this project was extracted from a video series by "Netcode-Hub" (https://www.youtube.com/Netcode-Hub) titled "Employee Management System with .NET 8 Blazor Wasm & API" 


